@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$background-color: rgb(247, 232, 203);
$secondary-color: rgb(125, 39, 48);

html {
	scroll-behavior: smooth;
}
* {
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: linear-gradient(90deg, rgb(15, 15, 15) 20%, rgb(25, 25, 25) 50%, rgb(15, 15, 15) 80%);
	background: $background-color;
	font-family: "Merienda", "Calibri", sans-serif;
	text-align: center;
	font-size: 18px;
	color: $secondary-color;
	overflow-x: hidden;
}
nav {
	display: flex;
	width: 80vw;
	height: 70px;
	border-radius: 20px;
	margin: auto;
	margin-top: 10px;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	padding: 0 5%;
	transition: all 0.4s;
	position: fixed;
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(20px);

	ul {
		display: flex;
		gap: 10px;
		align-items: center;
	}
	li a {
		padding: 5px 20px;
		color: $background-color;
		font-size: 22px;
		font-weight: 500;
		margin: 0 0 5px;
		border-radius: 20px;
		transition: background 0.2s ease-in-out;

		&.active {
			background: $secondary-color;
		}
		&:hover:not(.active) {
			background: $secondary-color;
		}
	}

	@media screen and (max-width: 500px) {
		padding: 0 30px;
		width: 85vw;
		ul {
			display: none;
		}
		.hamburger {
			display: block;
			position: static;
			right: 20px;
		}
	}
}
nav.active {
	background: transparent;
	backdrop-filter: revert;
	box-shadow: 0 0 1px 1px transparent;
	justify-content: center;

	#logo {
		display: none;
	}
	.hamburger {
		margin: auto;
		right: initial;
	}
}
nav.hamburger-active {
	margin: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 0px;
	backdrop-filter: blur(20px);
	flex-direction: column-reverse;
	padding-top: 50px !important;
	justify-content: start;
	align-items: center;
	gap: 75px;
	padding: 0;

	.hamburger {
		display: none;
		position: static;
		margin: 0;
		left: initial;
		right: initial;
	}
	.x {
		display: flex;
	}
	#logo {
		display: none;
	}
	ul {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}
}
#logo {
	margin-top: 7px;
	width: auto;
	height: 60px;
}
.hamburger {
	display: none;
	cursor: pointer;

	.line {
		background: $background-color;
		width: 30px;
		height: 3.5px;
		margin: 6px 0;
		border-radius: 5px;
	}
}
.x {
	width: 25px;
	height: 25px;
	position: relative;
	justify-content: center;
	align-items: center;
	display: none;
	cursor: pointer;

	.line-1 {
		position: absolute;
		width: 30px;
		height: 3px;
		border-radius: 5px;
		background: $background-color;
		transform: rotate(45deg);
	}
	.line-2 {
		@extend .line-1;
		transform: rotate(-45deg);
	}
}
.active * {
	font-weight: 600;
}
.arrow {
	cursor: pointer;
	display: flex;
	height: 35px;
}
.arrow a:hover {
	border-bottom: 0;
}
.arrow:hover {
	border-bottom: 3px solid rgb(255, 255, 255);
	transition: all 0.1s ease-out;
}
.arrow div {
	margin-left: -5px;
}
.larr,
.rarr {
	position: relative;
	margin: auto;
	display: inline-flex;
	width: 15px;
	height: 3.5px;
	background: white;
	border-radius: 40px;
	transition: 0.2s;
	cursor: pointer;
}
.larr {
	left: 6px;
	transform: rotate(45deg);
}
.rarr {
	transform: rotate(-45deg);
}
.arrow.active .larr {
	transform: rotate(-45deg);
}
.arrow.active .rarr {
	transform: rotate(45deg);
}
@media only screen and (max-width: 300px) {
	nav {
		padding: 5px;
	}
}
#home {
	position: relative;
	width: 100%;
	height: 100vh;

	.homeImage {
		width: 100%;
		height: 100vh;
		object-fit: cover;
		filter: brightness(40%);
	}
	.main-title {
		width: fit-content;
		position: absolute;
		margin: auto;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
	}
	h1 {
		font-family: "Radio Canada Big";
		font-size: 90px;
		line-height: 110px;
		font-weight: 900;
		color: rgb(255, 255, 255);
		text-shadow: 0px 0px 1px black;

		&.name {
			font-family: "Merienda";
			color: rgb(211, 175, 43);
		}
		@media screen and (max-width: 500px) {
			font-size: 13vw;
		}
	}
	.homeLogo {
		width: 650px;
		height: auto;

		@media screen and (max-width: 800px) {
			width: 85vw;
		}
	}
	$scrollDownPosition: 120px;
	@keyframes arrowBounce {
		to {
			bottom: $scrollDownPosition - 13;
		}
	}
	.scroll-down {
		width: fit-content;
		position: absolute;
		bottom: $scrollDownPosition;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		animation: arrowBounce 0.8s linear infinite alternate;
		cursor: pointer;
	}
	.scroll-down:hover * {
		background: $background-color;
	}
	.larr {
		left: 9px;
	}
	.larr,
	.rarr {
		width: 25px;
		height: 3px;
		transition: background 0.3s;
	}
}
.view-menu {
	width: fit-content;
	margin: auto;
	padding-top: 150px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	gap: 25px;

	h2 {
		border: none;
		text-align: left;
		text-shadow: none;
		font-size: 40px;
	}
	.menu-slider {
		width: 80vw;
		overflow: hidden;
		max-width: 890px;

		.menu-slides {
			display: flex;
			transition: margin-left 0.4s;
		}
	}
	.slider-controls {
		width: fit-content;
		display: flex;
		gap: 20px;
	}
	.slide-left {
		display: flex;
		gap: 10px;
		transform: rotate(-90deg);
		cursor: pointer;
	}
	.slide-right {
		@extend .slide-left;
		transform: rotate(90deg);
	}
	.line-1 {
		width: 5px;
		height: 25px;
		background: $secondary-color;
		transform: rotate(45deg);
	}
	.line-2 {
		@extend .line-1;
		transform: rotate(-45deg);
	}
	@media screen and (max-width: 500px) {
		h2,
		.slider-controls {
			margin-left: 25px;
		}
		.menu-slider {
			width: 100vw;
		}
		.slide-left {
			gap: 7.5px;
		}
		.line-1 {
			width: 4px;
			height: 20px;
		}
	}
}
.card {
	color: $secondary-color;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	h3 {
		font-weight: 800;
	}
	div {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 25px;
		border: 4px solid $secondary-color;
		background-color: transparent;
		margin-bottom: 10px;
		padding: 10px;
		transition: background 0.2s;

		&:hover {
			background: $secondary-color;
		}
		img {
			object-fit: contain;
		}
	}
}
#contact {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-evenly;
	align-items: center;
	height: fit-content;
	padding: 100px 10px 150px 10px;
	width: 100vw;
	gap: 50px 10px;
	overflow-x: hidden;
}
iframe {
	margin: 10px;
	width: 75vw;
	max-width: 530px;
	border: none;

	&:hover {
		transform: scale(1.05);
		transition: 0.3s;
	}
}
.find-us {
	h2 {
		width: 100%;
		font-size: 40px;
		border: none;
		text-shadow: none;
	}
}
.contact-info {
	display: flex;
	font-size: 20px;
	justify-content: start;
	align-items: center;
	margin: 10px 0;
	padding: 25px;
	height: 40px;
	border-radius: 12px;
	border: 3px solid transparent;
	gap: 10px;
	color: $secondary-color;
	transition: background 0.2s linear, border 0.2s linear;

	&:hover {
		border: 3px solid $secondary-color;
		background: rgba(125, 39, 48, 0.5);
	}
	img {
		display: inline;
		width: 30px;
		height: auto;
	}
	@media only screen and (max-width: 500px) {
		font-size: 18px;
		padding: 25px 5px;
	}
}
h2 {
	font-size: 50px;
	text-shadow: 2px 2px 4px $secondary-color;
	border-bottom: 2px solid $secondary-color;
	width: 80%;
}
.selection {
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.selection-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, 225px);
	grid-template-rows: repeat(auto-fit, 300px);
	justify-content: center;
	width: 80%;
	max-width: 1000px;
	gap: 50px 50px;
	padding-top: 40px;
}
.products {
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;

	.go-back-container {
		position: absolute;
		display: flex;
		align-items: center;
		gap: 5px;
		cursor: pointer;
		color: $secondary-color;
		font-size: 26px;
		text-shadow: none;

		@media only screen and (max-width: 900px) {
			position: revert;
			margin-bottom: 10px;
		}
	}
	.go-back-arrow {
		width: 70px;
	}
	h3 {
		font-size: 40px;
		margin-bottom: 20px;
		display: flex;
		gap: 10px;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		span {
			width: fit-content;
			background: $secondary-color;
			color: white;
			border-radius: 5px;
			padding: 4px 12px;
			font-size: 24px;
			font-weight: 800;
			transition: background, color 0.3s;
			margin-bottom: 10px;

			&:hover {
				background: white;
				color: $secondary-color;
			}
		}
	}
}
.product-container {
	width: 100%;
	padding: 0 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;

	img {
		height: 260px;
		width: 250px;
		object-fit: contain;
		margin: auto;
	}
	span {
		color: rgb(0, 0, 0);
	}
	div {
		font-size: 21px;
		display: flex;
		justify-content: space-between;
		padding: 0 5px;
	}

	@media only screen and (max-width: 700px) {
		flex-direction: column;
	}
}
.product-image {
	height: 300px;
	width: 300px;
	background: $secondary-color;
	border-radius: 25px;
	border: 6px solid lighten($secondary-color, 5);
}
.product-types {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 325px;

	div {
		border-radius: 5px;
	}
	div:hover:not(.heading) {
		background: lighten($color: $secondary-color, $amount: 25);
	}
	.heading {
		background: $secondary-color;
		color: white;

		span {
			color: white;
		}
	}
}
.single-product {
	justify-content: center;
	align-items: start;
	margin: 20px 0;

	@media only screen and (max-width: 700px) {
		align-items: center;
		gap: 20px;
	}
}
.single-product-info {
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 430px;

	h3 {
		margin-bottom: 5px;
	}
	p {
		color: white;
	}
}
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	font-size: 14px;
	width: 100%;
	border-top: 3px solid darken($background-color, 5);
	background: darken($background-color, 3);

	* {
		color: $secondary-color;
	}
	a {
		width: fit-content;
	}
	#footer-logo {
		width: 200px;
		height: auto;
		margin-bottom: 15px;
	}
	ul {
		display: flex;
		justify-content: center;
		margin-bottom: 12px;

		li {
			margin: 0 5px;
		}
	}
	.social-media:hover {
		border-bottom: 2px solid $secondary-color;
		transition: 0.1s;
	}
}
