@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");

$secondary-color: rgb(226, 172, 69);

html {
	scroll-behavior: smooth;
}
* {
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: linear-gradient(90deg, rgb(15, 15, 15) 20%, rgb(25, 25, 25) 50%, rgb(15, 15, 15) 80%);
	font-family: "Merienda", "Calibri", sans-serif;
	text-align: center;
	font-size: 18px;
	color: $secondary-color;
	overflow-x: hidden;
}
nav {
	display: flex;
	width: 100vw;
	height: 80px;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	padding: 0 10%;
	transition: background 0.4s;
	position: fixed;
	background: rgba(20, 20, 20, 0.95);
	backdrop-filter: blur(5px);
	box-shadow: 0 0 1px 1px rgb(30, 30, 30);

	ul {
		display: flex;
		gap: 10px;
		height: 50px;
		align-items: center;
	}
	li a {
		padding: 5px 20px;
		color: rgb(255, 255, 255);
		font-size: 22px;
		font-weight: 500;
		margin: 0 0 5px;
		border-radius: 20px;
		transition: background 0.2s ease-in-out;

		&.active {
			background: $secondary-color;
			color: white;
		}
		&:hover:not(.active) {
			background: white;
			color: $secondary-color;
		}
	}
}
nav.active {
	background: transparent;
	backdrop-filter: revert;
	box-shadow: 0 0 1px 1px transparent;

	li a.active {
		background: white;
		color: $secondary-color;
	}
	li a:hover:not(.active) {
		background: $secondary-color;
		color: white;
	}
}
#logo {
	width: 50px;
}
.hamburger {
	display: none;
	cursor: pointer;
}
.hamburger .line {
	background: rgb(130, 130, 130);
	width: 30px;
	height: 3.5px;
	margin: 6px 0;
	border-radius: 5px;
}
.active * {
	font-weight: 600;
}
.arrow {
	cursor: pointer;
	display: flex;
	height: 35px;
}
.arrow a:hover {
	border-bottom: 0;
}
.arrow:hover {
	border-bottom: 3px solid rgb(255, 255, 255);
	transition: all 0.1s ease-out;
}
.arrow div {
	margin-left: -5px;
}
.larr,
.rarr {
	position: relative;
	margin: auto;
	display: inline-flex;
	width: 15px;
	height: 3.5px;
	background: white;
	border-radius: 40px;
	transition: 0.2s;
	cursor: pointer;
}
.larr {
	left: 6px;
	transform: rotate(45deg);
}
.rarr {
	transform: rotate(-45deg);
}
.arrow.active .larr {
	transform: rotate(-45deg);
}
.arrow.active .rarr {
	transform: rotate(45deg);
}
@media only screen and (max-width: 550px) {
	/* .hamburger {
      display: block;
      position: absolute;
      right: 20px;
  } */
	nav {
		/* justify-content: space-between; */
		padding: 0 30px;
	}
	/* nav ul {
      display: none;
  } */
}
@media only screen and (max-width: 300px) {
	nav {
		padding: 5px;
	}
}
@keyframes exposureAnimation {
	from {
		filter: saturate(90%) contrast(90%);
	}
	to {
		filter: saturate(120%) contrast(120%);
	}
}
#home {
	position: relative;
	width: 100%;
	height: 100vh;
	animation: exposureAnimation 3s ease-in-out alternate infinite;

	img {
		width: 100%;
		height: 100vh;
		object-fit: cover;
	}
	@keyframes arrowBounce {
		to {
			top: 83%;
		}
	}
	.scroll-down {
		width: fit-content;
		position: absolute;
		top: 85%;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		animation: arrowBounce 0.9s linear infinite alternate;
		cursor: pointer;
	}
	.scroll-down:hover * {
		background: $secondary-color;
	}
	.larr {
		left: 9px;
	}
	.larr,
	.rarr {
		width: 25px;
		height: 3px;
		transition: background 0.3s;
	}

	@media screen and (max-width: 550px) {
		height: 70vh;

		img {
			height: 70vh;
		}
	}
}
.view-menu {
	width: fit-content;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 25px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	position: relative;
	top: 200px;
	opacity: 0;
	visibility: hidden;
	transition: 0.8s ease-out;

	h2 {
		border: none;
		text-align: left;
		text-shadow: none;
		font-size: 40px;
	}
	.slider-controls {
		width: fit-content;
		display: flex;
		gap: 20px;
	}
	.slide-left {
		display: flex;
		gap: 10px;
		transform: rotate(-90deg);
		cursor: pointer;
	}
	.slide-right {
		@extend .slide-left;
		transform: rotate(90deg);
	}
	.line-1 {
		width: 5px;
		height: 25px;
		background: white;
		transform: rotate(45deg);
	}
	.line-2 {
		@extend .line-1;
		transform: rotate(-45deg);
	}
	@media screen and (max-width: 500px) {
		.slide-left {
			gap: 7.5px;
		}
		.line-1 {
			width: 4px;
			height: 20px;
		}
	}
}
.animateSlideUp {
	visibility: visible;
	top: 0;
	opacity: 1;
}
.menu-slider {
	width: 80vw;
	overflow: hidden;
	max-width: 900px;

	.menu-slides {
		display: flex;
		transition: margin-left 0.4s;
	}
	.menu-card {
		color: $secondary-color;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		transition: scale 0.2s;

		h3 {
			font-weight: 800;
		}
		div {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 25px;
			border: 3px solid lighten($secondary-color, 10);
			background-color: $secondary-color;
			margin-bottom: 10px;
			padding: 10px;
			transition: background 0.2s;

			&:hover {
				background: lighten($secondary-color, 10);
			}
			img {
				object-fit: contain;
			}
		}
	}
}
#contact {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-evenly;
	align-items: center;
	height: fit-content;
	padding: 100px 10px 150px 10px;
	width: 100vw;
	gap: 50px 10px;
	overflow-x: hidden;
}
iframe {
	margin: 10px;
	width: 75vw;
	max-width: 530px;
	border: none;
	opacity: 0;
	position: relative;
	left: -25vw;
	visibility: hidden;
	transition: 0.8s ease-out;

	&:hover {
		transform: scale(1.05);
		transition: 0.3s;
	}
}
.find-us {
	opacity: 0;
	position: relative;
	right: -25vw;
	visibility: hidden;
	transition: 0.8s ease-out;

	h2 {
		width: 100%;
		font-size: 40px;
		border: none;
		text-shadow: none;
	}
}
.contact-info {
	display: flex;
	font-size: 20px;
	justify-content: start;
	align-items: center;
	margin: 10px 0;
	padding: 25px;
	height: 40px;
	border-radius: 12px;
	border: 3px solid transparent;
	gap: 10px;
	color: white;

	&:hover {
		border: 3px solid $secondary-color;
		background: rgba(226, 172, 69, 0.5);
		transition: 0.3s linear;
	}
	img {
		display: inline;
		width: 30px;
	}

	@media only screen and (max-width: 500px) {
		font-size: 18px;
		padding: 25px 5px;
	}
}
.animateSlideRight {
	visibility: visible;
	left: 0;
	opacity: 1;
}
.animateSlideLeft {
	visibility: visible;
	right: 0;
	opacity: 1;
}
h2 {
	font-size: 50px;
	text-shadow: 2px 2px 4px $secondary-color;
	border-bottom: 2px solid $secondary-color;
	width: 80%;
}
.selection {
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.selection-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, 250px);
	grid-template-rows: repeat(auto-fit, 300px);
	grid-auto-rows: 300px;
	justify-content: center;
	width: 80%;
	max-width: 1200px;
	gap: 50px 50px;
	padding-top: 40px;
}
.selection-card {
	color: $secondary-color;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: scale 0.2s;

	&:hover {
		scale: 1.1;
	}
	h3 {
		font-size: 26px;
		font-weight: 800;
	}
}
.selection-card div {
	height: 250px;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	border: 3px solid lighten($secondary-color, 10);
	background-color: $secondary-color;
	margin-bottom: 10px;

	img {
		height: 190px;
		width: 190px;
		object-fit: contain;
		border-radius: 10px;
	}
}
.products {
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;

	.go-back-container {
		position: absolute;
		display: flex;
		align-items: center;
		gap: 5px;
		cursor: pointer;
		color: $secondary-color;
		font-size: 26px;
		text-shadow: none;

		@media only screen and (max-width: 900px) {
			position: revert;
		}
	}
	.go-back-arrow {
		width: 70px;
	}
	h3 {
		font-size: 40px;
		margin-bottom: 20px;
		display: flex;
		gap: 10px;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		span {
			width: fit-content;
			background: $secondary-color;
			color: white;
			border-radius: 5px;
			padding: 4px 12px;
			font-size: 24px;
			font-weight: 800;
			transition: background, color 0.3s;
			margin-bottom: 10px;

			&:hover {
				background: white;
				color: $secondary-color;
			}
		}
	}
}
.product-container {
	width: 100%;
	padding: 0 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;

	img {
		height: 260px;
		width: 250px;
		object-fit: contain;
		margin: auto;
	}
	span {
		color: white;
	}
	div {
		font-size: 21px;
		display: flex;
		justify-content: space-between;
		padding: 0 5px;
	}

	@media only screen and (max-width: 700px) {
		flex-direction: column;
	}
}
.product-image {
	height: 300px;
	width: 300px;
	background: $secondary-color;
	border-radius: 25px;
	border: 4px solid lighten($secondary-color, 10);
}
.product-types {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	column-gap: 500px;
	width: 310px;
	min-width: fit-content;
	max-width: 400px;

	div {
		border-radius: 5px;
	}
	div:hover:not(.heading) {
		background: lighten($color: $secondary-color, $amount: 25);
	}
	.heading {
		background: $secondary-color;
		color: white;
	}
}
.single-product {
	justify-content: center;
	align-items: start;
	margin: 20px 0;

	@media only screen and (max-width: 700px) {
		align-items: center;
		gap: 20px;
	}
}
.single-product-info {
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 430px;

	h3 {
		margin-bottom: 5px;
	}
	p {
		color: white;
	}
}
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	font-size: 14px;
	width: 100%;
	border-top: 3px solid rgb(60, 60, 60);
	background: $secondary-color;

	* {
		color: white;
		text-shadow: 0.5px 0.5px 1px black;
	}
	a {
		width: fit-content;
	}
	#logo {
		margin-bottom: 5px;
	}
	ul {
		display: flex;
		justify-content: center;
		margin-bottom: 12px;

		li {
			margin: 0 5px;
		}
	}
	.social-media:hover {
		border-bottom: 2px solid rgb(64, 64, 64);
		transition: 0.1s;
	}
}
